.sticky-bar {
    position: fixed;
    height: 60px;
    background-color: #000080;
    box-shadow: 0 3px 6px rgba(0,0,0,0.03), 0 3px 6px rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0px;
    right: 0px;
    top: 0px;
    padding-left: 200px;
    z-index: 100;
}

.padding-left-reduce{
    padding-left: 60px;
}

.left-bar{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
}

.center-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 8px 20px;
}

.right-bar{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}


.nav-toggle-button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: #fff;
    height: 100%;
    padding: 15px;
    outline: none;
    cursor: pointer;
    -moz-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

.nav-toggle-button:active {
    transform: scale(0.9)
}

.flip {
    transform: rotate(-180deg);
  }





#fullscreenButtonContainer {
    height: 100%;
}

#fullscreenButtonContainer button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: #fff;
    height: 100%;
    padding: 15px;
    outline: none;
    cursor: pointer;
    -moz-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
}

#fullscreenButtonContainer button:active {
    transform: scale(0.9)
}

@media (max-width: 800px) {
    .username {
        display: none;
    }
    .user-menu {
        left: unset;
    }
    .profile-pic-container {
        margin-right: 0px;
    }
    #fullscreenButtonContainer{
        display: none;
    }
}

@media (max-width: 500px) {
    .sf-sticky-bar-container{
        margin-right: 7px;
    }
    .sf-sticky-bar {
        margin-left: 5px;
        
    }
}